@import url( 'https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.header {
    background-color: rgb(44, 44, 44);
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    margin: 0 auto;
}

.logo {
    padding-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Grand Hotel', cursive;
    letter-spacing: 6px;
}

.header-links ul {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.header-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.header-links ul li a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 800px) {
    .header {
        min-height: 63px;
    }
}
